    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is IoT.js</h2>
            <p class="intro">IoT.js is a <a href="https://www.npmjs.com/package/iotjs" target="_blank">node library</a> that helps software developers and hardware makers build IoT devices with JavaScript. We provide high level APIs help you get data from sensors and control devices much easier. Then you can just start to implement your ideas without figuring out hardware things.</p>
            <p class="intro">Our mission is helping people(developers, makers, students, kids, etc.) build IoT devices and applications with simple and efficient Web technology, JavaScript to enrich their own and other people's live.</p>

            <h2 class="title text-center">Community</h2>
            <p class="intro">
                Please join IoT.js community on the Telegram groups. The <a href="https://telegram.me/joinchat/BfAqLD72P9o-bN2ucAdPgw" target="_blank">IoT.js group</a> is for the members who prefer English. And the <a href="https://telegram.me/joinchat/BfAqLEEACJls7x0Gy9CY0Q" target="_blank">IoT.js TW group</a> is for the members who prefer Chinese. Welcome to <a href="https://github.com/evanxd/iotjs/issues" target="_blank">file issues</a> or <a href="https://github.com/evanxd/iotjs/pulls" target="_blank">send pull requests</a> for IoT.js.
            </p>
        </div>
    </section>
