    <!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Team</h2>
                <div class="author-message">                      
                    <div class="profile">
                      <a href="http://evanxd.io" target="_blank"><img class="img-responsive" src="https://avatars3.githubusercontent.com/u/3013038" /></a>
                    </div><!--//profile-->
                    <div class="speech-bubble">
                        <p>We help people(developers, makers, students, kids, etc.) build IoT devices and applications with simple and efficient Web technology, JavaScript.</p>
                        <div class="source">
                            <h4 class="name"><a href="http://evanxd.io" target="_blank">Evan Tseng</a></h4>
                            <span class="title">Project Founder, Developer</span>
                        </div><!--//source-->
                        <div class="info text-center">
                            <ul class="social-icons list-inline">
                                <li><a href="https://github.com/evanxd" target="_blank"><i class="fa fa-github"></i></a></li>
                                <li><a href="http://evanxd.io" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="mailto: evan.tseng.io" target="_blank"><i class="fa fa-envelope"></i></a></li>              
                            </ul>
                        </div><!--//info-->
                    </div><!--//speech-bubble-->                        
                </div><!--//author-message-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->  
