<!-- ******DOCS****** --> 
<section id="docs" class="docs section">
  <div class="container">
    <div class="docs-inner">
      <h2 class="title text-center">Getting Started</h2>
      <p>Blink an LED without any JavaScript code.</p>
      <div class="block">
        <h3 class="sub-title text-center">1. Install IoT.js</h3>
        <div class="code-block">
          <pre><code class="language-powershell">$ npm install iotjs</code></pre>
        </div>
      </div>
      <div class="block">
        <h3 class="sub-title text-center">2. Setup board.json</h3>
        <p>Add a new file board.json and add the below JSON object.</p>
        <div class="code-block">
<pre class="line-numbers"><code class="language-json line-numbers">{
  "modules": {
    "led" : { "module": "Led", "pins": 44 }
  },
  "extensions": {
    "thingjs-blink": { "modules": "led" }
  }
}</code></pre>
        </div>
      </div>
      <div class="block">
        <h3 class="sub-title text-center">3. Run</h3>
        <p>Run the below command in terminal.</p>
        <div class="code-block">
<pre><code class="language-powershell">~/path/to/iotjs/iotjs</code></pre>
        </div>
      </div>
    </div><!--//docs-inner-->         
  </div><!--//container-->
</section><!--//docs->
