<!-- ******DOCS****** --> 
<section id="docs" class="docs section">
  <div class="container">
    <div class="docs-inner">
      <h2 class="title text-center">Getting Started</h2>
      <div class="block">
        <h3 class="sub-title text-center">Install IoT.JS</h3>
        <div class="code-block">
          <pre><code class="language-powershell">$ npm install iotjs</code></pre>
        </div>
      </div>
      <div class="block">
        <h3 class="sub-title text-center">Send PM2.5 Data to Data Cloud</h3>
        <p>Code for a PM2.5 air quality station to send data to a data cloud service.</p>
        <div class="code-block">
<pre class="line-numbers"><code class="language-javascript line-numbers">var iotjs = require('iotjs');
var request = require('request');
// Define an air quality sensor instance.
var aq = new iotjs.Sensor.AirQuality({ type: 'pms3003', rate: 60000 });

// Send data to data cloud.
aq.on('data', funciton(data) {
  request.post('REST_API_URI', { form: { data: data } });
});</code></pre>
        </div>
      </div>
      <div class="block">
        <h3 class="sub-title text-center">Get Sensor Data Through REST API</h3>
        <p>Get the real-time sensor data from a REST server.</p>
        <div class="code-block">
<pre class="line-numbers"><code class="language-javascript line-numbers">var rest = new iotjs.Rest();
// Add the air quality sensor instance into a REST router.
rest.route('/aq/data', aq);
rest.listen(8080, function() {
  console.log('Air quality station is listening on port 8080!');
});</code></pre>

<p><code>http://device.domain.name:8080/aq/data</code> is the REST API to get the latest sensor data.</p>
<pre><code class="language-json">{ "pm25": 66, "datetime": "2016-05-15T12:44:06.249Z" }
</code></pre>
        </div>
      </div>
    </div><!--//docs-inner-->         
  </div><!--//container-->
</section><!--//docs->
