    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">IoT<span class="highlight">.js</span></h2>
            <p class="intro">Fastest and easiest way to build IoT Applications</p>
            <div class="btns">
                <a class="btn btn-cta-secondary scrollto" href="#docs">Getting Started</a>
            </div>
            <p class="meta">
                <a href="https://github.com/evanxd/iotjs"><i class="fa fa-github"></i></a>
            </p><!--//meta-->
        </div><!--//container-->
    </section><!--//promo-->
